---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}


	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p>{{ site.description }}</p>
			</div>
		</section>

		<section class="search">
			<div class="search-block">
			  <div class="input-group">
			    <input type="text" class="form-control" id="search" name="x" placeholder="Search... ">
<!-- 			    <span class="input-group-btn">
			        <button class="btn btn-default" type="button">🔎</button>
			    </span>
 -->			  </div>
			  <div id="results"></div>
			</div>
		</section>

		<section class="projects">
			<div class="container">
				<h2>Monuments</h2>
				<ul class="projects-list">
					{% for item in site.monuments %}

						<li>
							<a href="{{ item.permalink | replace: '.html','' | prepend: 'http://proposals.monumentlab.com' }}">
								<div class="img-wrapper">
									<img src="{{ item.image_file_name | prepend: 'http://proposals.monumentlab.com/assets/monuments/thumbs/' }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.location_transcription }}</span><span class="h2">{{ item.type }}</span>
								<h3>{{ item.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
	<script src="{{ '/assets/scripts/lunr-ui.js' | relativeurl }}"></script>
	
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | relativeurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | relativeurl }}"></script>

</body>
</html>